<h1>vitals</h1>

<div id="vitals">
	<table>

		<th>Id</th>
		<th>Name</th>
		<th>Short Name</th>
		<th>Species</th>
		<th>Low</th>
		<th>High</th>
		<th>units</th>
		<th>Created At</th>
		<th>Updated At</th>
		<th></th>
	<% @vitals.each do |vital| %>
		<tr>
			<td><%= vital.id  %></td>
                        <td><%= vital.name  %></td>
                        <td><%= vital.short_name  %></td>
                        <td><%= vital.species_id != nil ? Species.find(vital.species_id).name : "" %></td>
			<td><%= vital.low  %></td>
			<td><%= vital.hi  %></td>
			<td><%= vital.units  %></td>
			<td><%= vital.created_at  %></td>
			<td><%= vital.updated_at  %></td>
			<td><%= link_to "Edit", edit_vital_path(vital)  %></td>
		</tr>
	<% end %>
	</table>
	<%= link_to "New Vital", new_vital_path %>
</div>

<%= link_to "Back" %>
