
<%= form_with url: @formRet, model: @animal_vital do |form| %>
  <div>
 <%= form.hidden_field :animal_id, value: @animal.id %>
<table id=criteria>
                <tr>
                        <td>
                                <table>
                                        <tr>
                                                <td><b>Vital Sign Name:</b></td>
                                                <td><%= form.collection_select(:vital_id, @vitals, :id, :name, selected: @animal_vital.vital_id) %></td>

                                        </tr>
                                        <tr>
						<tr><td><%= form.label :value, "Value" %></td><td><%= form.text_field :value %></tr>
						<select id="weightUnit" name="weightUnit" hidden><option value=1>lbs</option><option value=2.205>kgs</option></select>
                                        </tr>
						<tr><td><%= form.label :dt, "Date" %></td><td><%= form.date_field :dt, value: Date.today %></tr>
						<tr><td><%= form.label :tm, "Time" %></td><td><%= form.time_field :tm, value: Time.now %></tr>
                                        <tr>
                                        </tr>
						<tr><td><%= form.label :note, "Note" %></td><td><%= form.text_area :note, rows: 10, cols: 50 %></tr>
                                        <tr>
                                                <td colspan="2"> 
							<%= form.submit %>
                                                </td>
                                        </tr>
                                </table>
                        </td>
                        <td>
                                <table> <!-- first column of demographic information -->
                                        <tr><td colspan=2></td><b>Vital Sign Information for:</b></td></tr>
					<tr><td>Birthdate</td><td><%= @animal.dob != nil ? @animal.dob.strftime('%m/%d/%Y') : "" %></td></tr>
					<tr><td>Age</td><td><%= Time.now.year -  @animal.dob.year %></td></tr>
                                        <tr><td style="text-align: left;" colspan="2"><%= link_to "Back to " + @animal.name, animal_path %></td></tr>
                                        </td></tr>
                                </table>
                        </td>
                </tr>
</table>

  </div>

<% end %>
