<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "PetTrax" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pettrax" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>



       <table>
                <tr>
                        <!-- Pixie Icon -->
                        <td><%= image_tag("AnimalTraxLogo.png", size: '100x100') %></td>

                        <!-- Banner title -->
                        <td style="vertical-align: bottom;">
                        <font size=6><b><center>PetTrax Animal Tracing System</center></b></font>
                        <p><font size=5><%= @pageName %></font></b>
                        </td>
                        <td style="text-align: right;">
				<%= Current.user.email_address if authenticated? %><br>
				<%= link_to "Log out", session_path, method: :delete if authenticated? %>
                        </td>
                </tr>

                <tr> <!-- Row 2, column 1: Sidebar menu -->
                        <td id="sidebar">
                                <font size=4>
                                        <nav>
                                                <ul>
                                                        <li><%= link_to "Find Animals", animals_path %></li>
                                                        <li><%= link_to "Add Animal", new_animal_path %></li>        
                                                        <li><%= link_to "Find People", people_path %></li>
                                                        <li><%= link_to "Add Person", new_person_path %></li>        
                                                </ul>
                                        </nav>
                                </font>
                        </td>
                        <td style="background-color: white;" colspan=2>
                                <table border="1" style="width: 100%" ><tr><td>

    <main>
      <%= yield %>
    </main>
		</td></tr>
	</table>
  </body>
  </footer>
  <footer>
</html>

